@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.order {
    &__list {
        width: 100%;
        &-header {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            padding-bottom: 11px;
            border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
            margin-bottom: 11px;
        }
        &-title {
            &.products {
                flex-basis: 40%;
            }

            &.price {
                flex-basis: 18%;
            }

            &.quantity {
                flex-basis: 21%;
            }

            &.total {
                flex-basis: 14%;
            }

            &.delete {
                flex-basis: 7%;
            }

            

        }
    }
}