@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.product {
    &__media {
        display: flex;
        align-items: center;
    }
    &__icons {
        max-width: 100px;
        margin-right: 30px;
    }
    &__icon {
        margin-bottom: 16px;
        background-color: $background-color;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            border: 1px solid $green-color;
        }
        &-img {
        }
    }
    
    &__big {
        background-color: $background-color;
        border-radius: 6px;
        &-img {
        }
    }
}

.product__icon-big {
    width: 400px;
    height: 400px;
}



