@font-face {
    font-family: Cera Pro;
    src: url(../../fonts/CeraPro-Regular.woff);
    font-weight: regular;
}

@font-face {
    font-family: Cera Pro;
    src: url(../../fonts/CeraPro-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Cera Pro;
    src: url(../../fonts/CeraPro-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Cera Pro;
    src: url(../../fonts/CeraPro-Black.woff);
    font-weight: bolder;
}

@font-face {
    font-family: Cera Pro;
    src: url(../../fonts/CeraPro-Light.woff);
    font-weight: light;
}

@font-face {
    font-family: Cera Pro;
    src: url(../../fonts/CeraPro-Thin.woff);
    font-weight: lighter;
}