@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.shopping-cart {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    .products {
        &__table {
            width: 782px;
            border-collapse: collapse; 
        }
        &__header {
            border-collapse: collapse; 
            margin-bottom: 11px;
            border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
            &-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                padding-bottom: 11px;
                margin-bottom: 11px;
                border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
            }
        }
        &__item {
            background-color: $background-color;
            margin-bottom: 10px;
            padding: 0 23px;
            &-info {
                padding: 17px 5px 15px;
            }
            &-img {
            }
            &-title {
            }
            &-article {
            }
            &-price {
                padding: 27px 0;
            }
            &-quantity {                
                padding: 22px 0 23px;
                display: flex;
                justify-content: center;
            }
            &-total {
            }
            &-delete {
                padding: 23px 0;
                text-align: center;
            }
        }
    }

    .cart {
        width: 332px;        
        &__title {
            padding-bottom: 11px;
            border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
            margin-bottom: 11px;
        }
        .coupon-form {
            width: 100%;
            position: relative;
            margin-bottom: 30px;
            &__input {
                width: 100%;
                border: 1px solid #46A358;
                border-radius: 3px;
                padding: 13px 9px;
            }
            &__btn {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                @include green-btn;
            }
        }
        &__list {
            margin-bottom: 26px;
            &-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                
                
            }
            &-category {
                font-size: 15px;
                line-height: 16px;
                             
                
            }
            &-sum {
                font-weight: 500;
                font-size: 18px;
                line-height: 16px;
            }
            &-link {
                display: block;
                font-size: 12px;
                line-height: 16px;
                color: $green-color;
            }
        }
        &__total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            &-sum {
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
                color: $green-color;
            }
        }
        &__buttons {
        }
        &__link {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 15px;
            line-height: 16px;
            color: $green-color;
            &.checkout {
                @include green-btn;
                padding: 12px 0;
                margin-bottom: 14px;
                font-weight: 700;
            }
        }
    }
}










