@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.promo {
    margin-bottom: 46px;
}

.catalog {
    margin-bottom: 94px;
    &__inner {
        display: flex;
    }
    &__aside {
        max-width: 310px;
        margin-right: 50px;
        .catalog__filter {
            background-color: $background-color;
            padding: 14px 24px 14px 18px;
            &-category {
                margin-bottom: 36px;
                &:last-child {
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
            &-title {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
            }
            &-list {
            }
            &-item {
                margin-bottom: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                font-weight: 500;
                font-size: 15px;
                line-height: 40px;
                &:hover {
                    color: $green-color;
                }
            }
            &-product {
            }
            &-amount {
            }
        }

        .banner {
            
        }
    }
    
    &__content {
        .catalog__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 31px;
            &-buttons {
                display: flex;
            }
            &-btn {
                margin-right: 40px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    font-weight: 700;
                    color: $green-color;
                    border-bottom: 2px solid $green-color;
                }
                
            }
            &-sort {
                display: flex;
                .catalog__sort-text {
                }
                .catalog__sort-items {
                }
            }
        }

        .catalog__items {
            .catalog__products {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 33px;
                grid-row-gap: 70px;
            }
        }
    }
}

.advance {
    margin-bottom: 138px;
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

.posts {
    margin-bottom: 100px;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    &__text {
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 24px;
        color: $grey-color;
        text-align: center;

    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
}









