@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.promo {
    margin-bottom: 46px;
}

.catalog {
    margin-bottom: 94px;
    &__inner {
        display: flex;
        position: relative;
    }
    &__aside {
        max-width: 310px;
        margin-right: 50px;
        
        .catalog__filter {
            background-color: $background-color;
            padding: 14px 24px 14px 18px;
            &-category {
                margin-bottom: 36px;
                &:last-child {
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
            &-title {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
            }
            &-list {
            }
            &-item {
                margin-bottom: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                font-weight: 500;
                font-size: 15px;
                line-height: 40px;
                &:hover {
                    color: $green-color;
                }
            }
            &-product {
            }
            &-amount {
            }
        }
    }

    &__menu {
        &-btn {
            padding: 5px 10px;
            background-color: $green-color;
            border-radius: 10px;
            color: #fff;
            position: absolute;
            cursor: pointer;
        }
    }
    
    &__content {
        .catalog__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 31px;
            &-buttons {
                display: flex;
            }
            &-btn {
                margin-right: 40px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    font-weight: 700;
                    color: $green-color;
                    border-bottom: 2px solid $green-color;
                }
                
            }
            &-sort {
                display: flex;
                .catalog__sort-text {
                }
                .catalog__sort-items {
                }
            }
        }

        .catalog__items {
            .catalog__products {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 33px;
                grid-row-gap: 70px;
            }
        }
    }
}

.banner {
    &__img {
        object-fit: cover;
        width: 70%;
        margin-bottom: 40px;
    }
}

.advance {
    margin-bottom: 138px;
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

.posts {
    margin-bottom: 100px;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 16px;
        margin-bottom: 15px;
    }
    &__text {
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 24px;
        color: $grey-color;
        text-align: center;

    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .posts {
        &__items {
            max-width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 10px;
        }

        .post {
            max-width: 100%;
        }
    }
    
}

@media (max-width: 1000px) {
    .advance {
        &__items {
            display: block;
        }
        &__item {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 600px) {
    .advance {
        &__item {
            padding: 26px 20px 10px 24px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            &-img {
                object-fit: cover;
                width: 70%;
            }
        }
    }

    .posts {
        &__items {
            display: block;
            .post {
                margin-bottom: 20px;
            }
        }
    }
    
}

@media (max-width: 540px) {
    .catalog {
        &__content {
            .catalog__items {
                .catalog__products {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 33px;
                    grid-row-gap: 70px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .catalog {
        &__content {
            .catalog__items {
                .catalog__products {
                    display: block;
                }
            }
        }
        &-item {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 10px;
            &__media {
                display: flex;
                justify-content: center;
            }
            &__img {
                object-fit: cover;
                width: 70%;
            }
        }
    }
}









