@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.shop {
}
.product {
    margin-bottom: 127px;
    &__card {
        display: flex;
        justify-content: space-between;
        padding-top: 43px;
        margin-bottom: 94px;
    }

    &__details {
        max-width: 574px;
        &-numbers {
            display: flex;
            justify-content: flex-end;
            position: relative;
        }
        &-top {
            padding-bottom: 13px;
            border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
            margin-bottom: 15px;
            .product__title {
                font-weight: 700;
                font-size: 28px;
                line-height: 16px;
                margin-bottom: 21px;
                
            }
            .product__price {
                color: $green-color;
                font-weight: 700;
                font-size: 22px;
                line-height: 16px;
                position: absolute;
                left: 0;
            }
            .product__rating {
                margin-left: 11px;
            }
        }
        &-descr {
            .product__descr-title {
                font-weight: 500;
                font-size: 15px;
                line-height: 16px;
                margin-bottom: 10px;
            }
            .product__descr-text {
                color: $grey-color;
                margin-bottom: 24px;
            }
        }
        &-size {
            margin-bottom: 23px;
            .product__size-title {
                margin-bottom: 11px;
                font-weight: 500;
                font-size: 15px;
                line-height: 16px;
            }
            .size__list {
                display: flex;
                &-item {
                    margin-right: 10px;
                }
                &-btn {
                    border: 1px solid #EAEAEA;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $green-color;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16px;
                    &:hover {
                        border: 1px solid $green-color;
                    }

                }
            }
        }
        &-buy {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
            .product__buy-amount {
                max-width: 119px;
                margin-right: 26px;
            }
            .product__buy-btn {
                &.buy {
                    @include green-btn;
                    padding: 11px 32px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    margin-right: 10px;
                }
                &.basket {
                    padding: 11px 20px;
                    border: 1px solid $green-color;
                    border-radius: 6px;
                    margin-right: 10px;
                    &:hover {
                        @include green-btn;
                        
                        
                    }
                }
                &.like {
                    padding: 10px;
                    border: 1px solid $green-color;
                    border-radius: 6px;
                }
            }
            .product__buy-img {
            }
        }
        &-info {
            margin-bottom: 18px;
            .product__info-item {
            }
        }
        &-social {
            display: flex;
            align-items: center;
            .product__social {
                &-text {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 16px;
                    margin-right: 16px;
                }
                &-list {
                    display: flex;

                }
                &-item {
                    margin-right: 20px;

                }
                &-link {

                }
                &-img {

                }
            }
        }
    }

    &__about {
        .product__tabs-buttons {
            
            border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
            margin-bottom: 18px;
        }
        .product__tabs-btn {
            margin-right: 30px;
            font-size: 17px;
            line-height: 16px;
            color: $black-color;
            transition: all 0.5s;
            padding-bottom: 12px;
            cursor: pointer;
            &:hover {
                color: $green-color;
                font-weight: 700;
                border-bottom: 3px solid $green-color;
            }
            
        }

        .product__tabs-items {

        }

        .product__tabs-item {

        }
    }
}

.related {
    &__title {
        padding-bottom: 12px;
        font-weight: 700;
        font-size: 17px;
        line-height: 16px;
        color: $green-color;
        margin-bottom: 44px;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);

    }
    &__products {
        display: flex;
        &-item {
            max-width: 220px;
            margin-top: 26px;
        }
    }

    
}

.slick {
    &-dots-shop {
        bottom: 0;
        position: absolute;
        left: 50%;
        bottom: 17px;
        transform: translateX(-50%);
        li{
            margin: 0 10px;
            display: inline-block;
        }
        li.slick-active{
            button{
                background-color: $green-color;
            }
            
        }
        button{
            display: block;
            background-color: #fff;
            border-radius: 50%;
            border: 1.3px solid $green-color;
            font-size: 0;
            padding: 0;
            width: 12px;
            height: 12px;
            cursor: pointer;
            &:hover {
                background-color: $green-color;
            }
        }
    }
}

@media (max-width: 1200px) {
    .product {
        &__card {
            display: block;
            .product__details {
                max-width: 100%;
            }
        }
        &__media {
            flex-direction: column-reverse;
            margin-bottom: 20px;
        }
        &__icons {
            display: flex;
            max-width: 500px;
        }
        &__big {
            margin-bottom: 10px;
        }
        
    }
}

@media (max-width: 500px) {
    .product {
        &__big {
            &-img {
                object-fit: cover;
                width: 70%;
                margin: 0 auto;
            }
        }

        &__details {
            &-buy {
                flex-wrap: wrap;
            }
        }
    }
}














