@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.user__form {
    width: 100%;
    &-personal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 28px;
        grid-row-gap: 30px;
        margin-bottom: 37px;
    }
    &-title {
        margin-bottom: 20px;
    }
    &-item {
    }
    &-label {
        display: block;
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
    }
    &-input {
        display: block;
        width: 100%;
        border: 1px solid #EAEAEA;
        border-radius: 3px;
        padding: 10px;
    }
    &-password {
        display: grid;
        grid-template-columns: 0.5fr;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
    &-btn {
        @include green-btn;
        padding: 12px 0;
        text-align: center;
        cursor: pointer;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        width: 131px;
    }
}