@import '../../style/base/vars.scss';
@import '../../style/base/mixins.scss';

.checkout {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    .checkout-form {
        
        &__inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 22px;
            grid-row-gap: 30px;
        }
        &__title {
            margin-bottom: 21px;
        }
        &__label {
            width: 100%;
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: $black-color;
        }
        &__input {
            margin-top: 10px;
            width: 100%;
            display: block;
            border: 1px solid $black-color;
            border-radius: 3px;
            padding: 12px 13px;
            &::placeholder {
                font-size: 14px;
                line-height: 15px;
                color: #A5A5A5;
            }
        }
        &__textarea {
            border: 1px solid #EAEAEA;
            border-radius: 3px;
            margin-top: 10px;
        }
    }

    .order {
        width: 405px;
        margin-left: 76px;
        &__title {
        }
        &__products {
            .products__table {
                width: 100%;
            }
            
        }
        &__cart {
        }
        &__payment {
        }
        .payment-form {
            width: 100%;
            &__title {
                margin-bottom: 19px;
            }
            &__item {
                
            }
            &__label {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                border: 1px solid #EAEAEA;
                border-radius: 3px;
                padding: 11px;
                cursor: pointer;
                &-img {
    
                }
            }
            &__input {
                display: block;
                margin-right: 10px;
                
            }
        }
    
        &__submit-btn {
            width: 100%;
            @include green-btn;
            border: none;
            padding: 12px 0;
            font-weight: 700;
            font-size: 15px;
            line-height: 16px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1280px) {
    .checkout {
        .order {
            margin-left: 40px;
        }
    }
}

@media (max-width: 1200px) {
    .checkout {
        &__inner {
            flex-wrap: wrap;
        }
        &-form {
            width: 80%;
            margin-bottom: 40px;
        }

        .order {
            width: 60%;
        }
    }
}

@media (max-width: 860px) {
    .checkout {

        .order {
            width: 80%;
        }
    }
}

@media (max-width: 650px) {
    .checkout {
        &-form {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .checkout {
        &__inner {
            .order {
                &__products {
                    .order {
                        &__list {
                            margin-bottom: 20px;
                            &-header {
                                display: none;
                            }
                        }
                        &__item {
                            flex-direction: column;
                            position: relative;
                            &-delete {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }
        .checkout-form {
            &__inputs {
                display: block;
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}








